<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
  <div class="my-auto">
    <h2 class="mb-5">Experience</h2>


    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Intergration Analyst</h3>
        <div class="subheading mb-3">Nedbank Limited</div>
        <p>dfskjfsdljbjlcvbdfudgiusfjflglkbdnmdmdgl lb.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">December 2011 - March 2013</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Software Engineer</h3>
        <div class="subheading mb-3">Nihilent Limited</div>
        <p>dndssjlshffs fnknsvnc,ng fnknkxcvnbnkg</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">July 2010 - December 2011</span>
      </div>
    </div>

  </div>

</section>


<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
  <div class="my-auto">
    <h2 class="mb-5">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Vaal University of Technology</h3>
        <div class="subheading mb-3">Advanced Diploma in Information Technology</div>
        <div>Business Analyst</div>
        <p>GPA: 3.23</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">January 2022 - December 2022</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Vaal University of Technology</h3>
        <div class="subheading mb-3">Diploma in Information Technology</div>
        <p>GPA: 3.56</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">January 2018 - December 2021</span>
      </div>
    </div>

  </div>
</section>