
 

  .about-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }



  //.work-experience {
   // padding: 60px 20px;
  //}

  .experience-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }

  .timeline {
    border-left: 3px solid #007bff;
    padding-left: 20px;
    margin-top: 20px;
  }

  .timeline-item {
    padding-left: 10px;
  }

  .timeline-item h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
  }
