<section class="about-section">
  <h1 class="about-me">About Me</h1>
  <div class="content">
    <p *ngFor="let paragraph of aboutMe">{{ paragraph }}</p>
  </div>
</section>

<section class="work-experience" id="experience">
  <h1 class="experience-title">Work Experience</h1>
  <div class="timeline">
    <div class="timeline-item" *ngFor="let job of workExperience">
      <h4>{{job.title}}</h4>
      <p><strong>{{job.meta}}</strong> - <em>{{job.period}}</em></p>
      <ul>
        <li *ngFor="let details of job.description">{{details}}</li>
      </ul>
    </div>
    
  </div>
</section>
<!-- Education Section -->
<section class="work-experience">
  <h1 class="experience-title">Academic Background</h1>
  <div class="timeline">
    <div class="timeline-item" *ngFor="let edu of education">
      <h4>{{edu.title}}</h4>
      <p><strong>{{edu.institution}}</strong> - <em>{{edu.year}}</em></p>
    </div>
  </div>
</section>