
  <div class="page-container">
    <h2>Contact Me</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  
      <!--name field-->
      <div class="form-group">
        <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" formControlName="name"
            [ngClass]="{ 'is-invalid': name?.invalid && name?.touched}" />
  
          <div *ngIf="name?.invalid && name?.touched" class="invalid-feedback">
            <small *ngIf="name?.errors?.required">Name is required</small>
            <small *ngIf="name?.errors?.minlength">Name must be at least 12 characters long</small>
          </div>
      </div>
  
  
      <!--Email field-->
      <div class="form-group">
        <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" formControlName="email"
            [ngClass]="{ 'is-invalid': email?.invalid && email?.touched}" />
  
          <div *ngIf="email?.invalid && email?.touched" class="invalid-feedback">
            <small *ngIf="email?.errors?.required">Email is required</small>
            <small *ngIf="email?.errors?.email">Invalid email address</small>
          </div>
      </div>
  
  
      <!--message field-->
      <div class="form-group">
        <label for="message">Message:</label>
          <textarea rows="5" class="form-control" id="message" formControlName="message"
            [ngClass]="{ 'is-invalid': message?.invalid && message?.touched}"></textarea>
  
          <div *ngIf="message?.invalid && message?.touched" class="invalid-feedback">
            <small *ngIf="message?.errors?.required">Message is required</small>
            <small *ngIf="message?.errors?.minlength">Message must be at least 50 characters</small>
          </div>
      </div>
  
  
      <!--Submit button-->
      <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">submit</button>
    </form>

    <!-- Social Media and Contact Info -->
  <div class="contact-info">
    <p><strong>Phone:</strong> +27 899 7674</p>
    <span class="separator">|</span>
    <p>
      <strong>Email</strong>
      <a href="mailto:samuelsesing@gmail.com" class="social-link">
        <i class="fas fa-envelope"></i>: samuelsesing@gmail.com
      </a>
    </p>
    <span class="separator">|</span>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/your-profile" target="_blank" class="social-link">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <span class="separator">|</span>
      <a href="https://github.com/your-username" target="_blank" class="social-link">
        <i class="fab fa-github"></i> GitHub
      </a>
    </div>
  </div>
  </div>
