<body>
  <div class="container mt-5">
    <h2>Contact Me</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  
      <!--name field-->
      <div class="mb-3 row">
        <label for="name" class="col-form-label col-2">Name:</label>
        <div class="col-10">
          <input type="text" class="form-control" id="name" formControlName="name"
            [ngClass]="{ 'is-invalid': name?.invalid && name?.touched}" />
  
          <div *ngIf="name?.invalid && name?.touched" class="invalid-feedback">
            <small *ngIf="name?.errors?.required">Name is required</small>
            <small *ngIf="name?.errors?.minlength">Name must be at least 12 characters long</small>
          </div>
        </div>
      </div>
  
  
      <!--Email field-->
      <div class="mb-3 row">
        <label for="email" class="col-form-label col-2">Email:</label>
        <div class="col-10">
          <input type="email" class="form-control" id="email" formControlName="email"
            [ngClass]="{ 'is-invalid': email?.invalid && email?.touched}" />
  
          <div *ngIf="email?.invalid && email?.touched" class="invalid-feedback">
            <small *ngIf="email?.errors?.required">Email is required</small>
            <small *ngIf="email?.errors?.email">Invalid email address</small>
          </div>
        </div>
      </div>
  
  
      <!--message field-->
      <div class="mb-3 row">
        <label for="message" class="col-form-label col-2">Message:</label>
        <div class="col-10">
          <textarea rows="5" class="form-control" id="message" formControlName="message"
            [ngClass]="{ 'is-invalid': message?.invalid && message?.touched}"></textarea>
  
          <div *ngIf="message?.invalid && message?.touched" class="invalid-feedback">
            <small *ngIf="message?.errors?.required">Message is required</small>
            <small *ngIf="message?.errors?.minlength">Message must be at least 50 characters</small>
          </div>
        </div>
      </div>
  
  
      <!--Submit button-->
      <div class="mb-3 row">
        <div class="col-2 offset-2">
          <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">submit</button>
        </div>
      </div>
    </form>
  </div>
</body>