<div class="page-container">
  <div class="content-wrap">
    <section class="home-section">
      <div>
        <h1 class="home-title">Welcome to my portfolio!</h1>
        <p class="home-subtitle">I'm Samuel Sesing, a Junior Software engineer with a passion for front end development.</p>
        <p class="home-subtitle">I'm excited to share my projects and experiences with you. Take a look around and let's connect!</p>
        <button class="btn btn-primary">
        <a class="btn-text" [routerLink]="['/projects']">Explore my projects</a></button>
      </div>
      <br>
    <div>
      <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fab fa-circle fa-stack-2x"></i>
              <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
</div>
