
    <section class="home-section">
      <div>
        <h1 class="home-title">Welcome to my portfolio!</h1>
        <p class="home-subtitle">I'm Samuel Sesing, a Junior Software engineer with a passion for front end development.</p>
        <p class="home-subtitle">I'm excited to share my projects and experiences with you. Take a look around and let's connect!</p>
        <button class="btn btn-primary">
        <a class="btn-text" [routerLink]="['/projects']">Explore my projects</a></button>
      </div>
      <br>
  </section>
