<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/projects']">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/About']">Experience/About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/skills']">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <!-- Router outlet -->
  <router-outlet></router-outlet>
  
  <!-- Footer -->
  <footer class="footer">
    <ul class="social-links">
      <li>
        <a href="https://x.com/" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/yourgithubhandle" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <!-- Add more social media links here -->
    </ul>
  </footer>

