/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #141e30;
    height: 100vh;
    display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;
    color: white;
    //text-align: center;
    padding: 20px;
  }

  .page-container{
    position: absolute;
    min-height: 100vh;
  }


  .page-wrap{
    padding-bottom: 2rem;
  }


